<!-- PAGE BAR -->
<div class="page-bar my-page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a style="font-size: 16px; font-weight: bold;">{{page.title}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-success" ng-click="Save('Edit')">
                <span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fa fa-save"></i> <span class="hidden-xs">Lưu &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="Save('Exit')">
                <i class="fa fa-check"></i> <span class="hidden-xs">Lưu & Thoát</span>
            </button>
            <button type="button" class="btn btn-default" ng-click="Save('New')">
                <i class="fa fa-plus"></i> <span class="hidden-xs">Lưu & Thêm mới</span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="Cancel()">
                <i class="fa fa-close"></i> <span class="hidden-xs">Hủy bỏ</span>
            </button>
        </div>
    </div>
</div>
<!--Main-->
<div class="row">
    <div id="categoryPost" class="my-content-page">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <!--Tiêu đề-->
                    <div class="col-md-7">
                        <div class="form-group form-md-line-input" ng-class="{'has-error':!CheckNullTitle()}">
                            <input type="text" class="form-control" name="title" id="title" ng-model="categoryPost.Title">
                            <label for="title">
                                <b>Tiêu đề</b>
                                <span class="required" aria-required="true">*</span>
                            </label>
                            <span class="help-block">Nhập tiêu đề...</span>
                        </div>
                    </div>
                    <!--Alias-->
                    <div class="col-md-5">
                        <div class="form-group form-md-line-input" ng-class="{'has-error':!CheckNullAlias()}">
                            <div class="input-group">
                                <div class="input-group-control">
                                    <input type="text" class="form-control" id="alias" placeholder="Có thể tự sinh theo tiêu đề" ng-model="categoryPost.Alias">
                                    <label for="alias"><b>Alias</b></label>
                                </div>
                                <span class="input-group-btn btn-right">
                                    <button type="button" class="btn btn-default" ng-click="GenAlias()">Sinh alias</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!--Spinner-->
                        <span us-spinner="{radius:15, width:4, length: 8}"></span>
                        <!--Tabs-->
                        <div class="tabbable-line boxless tabbable-reversed">
                            <ul class="nav nav-tabs">
                                <li class="" ng-class="{'active': IsSet(1)}">
                                    <a data-toggle="tab" aria-expanded="{{IsSet(1)}}" ng-click="SetTab(1)"> <b>Nội dung</b> </a>
                                </li>
                                <!--<li class="" ng-class="{'active': IsSet(2)}">
                                    <a data-toggle="tab" aria-expanded="{{IsSet(2)}}" ng-click="SetTab(2)"> Banner </a>
                                </li>-->
                                <li class="" ng-class="{'active': IsSet(3)}">
                                    <a data-toggle="tab" aria-expanded="{{IsSet(3)}}" ng-click="SetTab(3)"> <b>Xuất bản</b> </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="padding-top: 20px">
                                <div class="tab-pane" ng-class="{'active': IsSet(1)}">
                                    <div class="row">
                                        <!--Mô tả-->
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label for="description"><b>Mô tả</b></label>
                                                <textarea id="ckeditor" data-ck-editor class="form-control" ng-model="categoryPost.Description" name="description"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <!--Danh mục cha-->
                                            <div class="form-group form-md-line-input" style="margin-bottom: 20px">
                                                <select class="form-control" id="parent" ng-model="categoryPost.ParentId">
                                                    <option value="" selected>- Không có danh mục cha -</option>
                                                    <option ng-value="option.Id" ng-repeat="option in categoryPosts" ng-selected="categoryPost.CategoryId == option.Id">{{option.Title}}</option>
                                                </select>
                                                <label for="parent"><b>Danh mục cha</b></label>
                                            </div>
                                            <!--Trạng thái-->
                                            <div class="form-group form-md-line-input" style="margin-bottom: 20px" ng-class="{'has-error': !categoryPost.Published, 'has-success': categoryPost.Published}">
                                                <select class="form-control" id="status" ng-model="categoryPost.Published">
                                                    <option ng-value="option.value" ng-repeat="option in statuses" ng-selected="categoryPost.Published == option.value">{{option.text}}</option>
                                                </select>
                                                <label for="status"><b>Trạng thái</b></label>
                                            </div>
                                            <!--Ghi chú-->
                                            <div class="form-group form-md-line-input">
                                                <textarea class="form-control" rows="3" id="note" ng-model="categoryPost.Note"></textarea>
                                                <label for="note"><b>Ghi chú</b></label>
                                            </div>
                                            <!--Ảnh đại diện-->
                                            <div class="form-group form-md-line-input">
                                                <div class="input-group">
                                                    <div class="input-group-control">
                                                        <input type="text" class="form-control" id="image" ng-model="categoryPost.Image">
                                                        <label for="image"><b>Ảnh đại diện</b></label>
                                                    </div>
                                                    <span class="input-group-btn btn-right">
                                                        <button type="button" class="btn btn-default" ng-click="ChooseImage()">Chọn</button>
                                                    </span>
                                                </div>
                                                <img class="img-responsive" src="{{categoryPost.Image}}" ng-show="categoryPost.Image" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="tab-pane" ng-class="{'active': IsSet(2)}">
                                    Banner
                                </div>-->
                                <div class="tab-pane" ng-class="{'active': IsSet(3)}">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <!--Thẻ từ khóa-->
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" id="metaKeywords" ng-model="categoryPost.MetaKewords">
                                                <label for="metaKeywords"><b>Thẻ từ khóa</b></label>
                                            </div>
                                            <!--Tác giả-->
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" id="author" ng-model="categoryPost.Author">
                                                <label for="author"><b>Tác giả</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group form-md-line-input">
                                                <textarea class="form-control" rows="6" id="metaDescription" ng-model="categoryPost.MetaDescription"></textarea>
                                                <label for="metaDescription"><b>Thẻ mô tả</b></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>