<!-- PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a style="font-size: 16px; font-weight: bold;">{{page.title}}</a>
        </li>
    </ul>
</div>
<!--Main-->
<div class="row page-main">
    <div class="portlet light bordered">
        <!--Grid Post-->
        <div dx-data-grid="gridCategoryPosts" dx-item-alias="item" id="categoryPost">

            <!--Template Published-->
            <div data-options="dxTemplate:{ name:'publishedCellTemplate' }">
                <span class="fa fa-check text-success" ng-if="item.value"></span>
                <span class="fa fa-close text-danger" ng-if="!item.value"></span>
            </div>

            <!--Template Post Number-->
            <div data-options="dxTemplate:{ name:'postnumberCellTemplate' }">
                <span class="badge badge-primary"> {{item.value}} </span>
            </div>
        </div>
        <div dx-context-menu="contextMenuCategoryPost"></div>
    </div>

    <!--Popup Delete-->
    <div class="popup" dx-popup="deleteCategoryPost.popup">
        <div data-options="dxTemplate: { name:'templateDeleteCategoryPost' }">
            <div style="text-align: center" ng-cloak>{{deleteCategoryPost.title}}</div>
            <br />
            <div class="pull-left" dx-button="{ text: 'Có', icon: 'floppy', onClick: ConfirmDelete, type: 'success' }"></div>
            <div class="pull-right" dx-button="{ text: 'Không', icon: 'clear', onClick: CancelDelete, type: 'danger' }"></div>
            <br />
        </div>
    </div>
</div>