<!-- Banner -->
<section class="page-header parallax page-header-text-light overlay overlay-color-dark overlay-show overlay-op-8 py-5 mb-0 appear-animation" data-appear-animation="fadeIn" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'parallaxHeight': '115%'}" data-image-src="img/parallax/parallax-7.jpg">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="overflow-hidden mb-2">
                    <ul class="breadcrumb justify-content-start mb-0 appear-animation" data-appear-animation="maskUp">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">About Me</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-left mb-3">
            <div class="col-md-8">
                <div class="overflow-hidden mb-2">
                    <h1 class="line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">I’m <strong>John Doe</strong>. An American passionate Digital Art Designer living in New York, currently working as Designer at Okler.</h1>
                </div>
            </div>
        </div>
        <div class="row text-left appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
            <div class="col pb-4 mb-5">
                <ul class="social-icons social-icons-border social-icons-icon-light d-inline-flex">
                    <li class="social-icons-facebook">
                        <a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-icons-twitter">
                        <a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social-icons-instagram">
                        <a href="http://www.instagram.com/" target="_blank" title="Instragram"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
                <a href="contact-us-2.html" class="btn btn-primary btn-rounded btn-v-3 btn-h-3 font-weight-bold ml-3">GET IN TOUCH</a>
            </div>
        </div>
    </div>
</section>