<!-- Slide -->
<div class="slider-container slider-container-height-550 rev_slider_wrapper">
    <div id="revolutionSlider"
         class="slider rev_slider"
         data-version="5.4.7"
         data-plugin-revolution-slider
         data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [550,550,550,550], 'responsiveLevels': [4096,1200,992,576], 'parallax': { 'type': 'mouse', 'origo': 'slidercenter', 'speed': 2000, 'levels': [2,3,4,5,6,7,12,16,10,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true, 'hide_under': 767, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 25, 'h_offset': 0}}}">
        <ul>
            <li class="slide-overlay slide-overlay-level-3"
                data-transition="fade">
                <img src="~/Content/Frontend/img/slides/banner/slide1.jpg"
                     alt=""
                     data-bgposition="50% 20%"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg" />

                <div class="tp-caption bg-primary"
                     data-x="['140','140','54','54']"
                     data-y="['145','145','180','180']"
                     data-start="1500"
                     data-width="['20','20','13','13']"
                     data-height="['145','145','92','92']"
                     data-transform_in="x:[-100%];opacity:0;s:500;"
                     data-transform_idle="skX:19deg"
                     data-transform_out="x:[-100%];opacity:0;s:500;"></div>

                <div class="tp-caption text-color-light font-primary font-weight-bold"
                     data-x="['160','160','65','65']"
                     data-y="['150','150','180','180']"
                     data-start="1000"
                     data-fontsize="['28','28','20','20']"
                     data-transform_in="opacity:0;s:300;"
                     data-transform_out="opacity:0;s:300;">
                    CHÚNG TÔI LÀ DOANH NGHIỆP
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['190','190','90','90']"
                     data-y="['195','195','210','210']"
                     data-start="1100"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    M
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['295','295','153','153']"
                     data-y="['195','195','210','210']"
                     data-start="1200"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    A
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['370','370','195','195']"
                     data-y="['195','195','210','210']"
                     data-start="1300"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    Y
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['490','490','250','250']"
                     data-y="['195','195','210','210']"
                     data-start="1400"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    M
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['595','595','315','315']"
                     data-y="['195','195','210','210']"
                     data-start="1500"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    Ặ
                </div>

                <div class="tp-caption text-color-light font-weight-bold font-primary"
                     data-x="['676','676','365','365']"
                     data-y="['195','195','210','210']"
                     data-start="1600"
                     data-fontsize="['110','110','65','65']"
                     data-lineheight="['103','103','73','73']"
                     data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                     data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;">
                    C
                </div>

                <!-- <div
                  class="tp-caption text-color-light font-weight-bold font-primary"
                  data-x="['752','664','460','369']"
                  data-y="['195','195','195','210']"
                  data-start="1700"
                  data-fontsize="['110','110','70','50']"
                  data-lineheight="['103','103','103','73']"
                  data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                  data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                >
                  N
                </div>

                <div
                  class="tp-caption text-color-light font-weight-bold font-primary"
                  data-x="['842','754','517','412']"
                  data-y="['195','195','195','210']"
                  data-start="1800"
                  data-fontsize="['110','110','70','50']"
                  data-lineheight="['103','103','103','73']"
                  data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                  data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                >
                  C
                </div>

                <div
                  class="tp-caption text-color-light font-weight-bold font-primary"
                  data-x="['922','834','567','452']"
                  data-y="['195','195','195','210']"
                  data-start="1900"
                  data-fontsize="['110','110','70','50']"
                  data-lineheight="['103','103','103','73']"
                  data-transform_in="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                  data-transform_out="rY:95deg;opacity:0;s:600;e:Power4.easeIn;"
                >
                  Y
                </div> -->

                <div class="tp-caption text-color-light font-primary font-weight-normal"
                     data-x="['700','700','322','322']"
                     data-y="['310','310','300','300']"
                     data-start="2000"
                     data-fontsize="['38','38','30','30']"
                     data-transform_in="y:[100%];opacity:0;s:500;"
                     data-transform_out="y:[100%];opacity:0;s:500;">
                    HÀNG ĐẦU
                </div>

                <a class="tp-caption btn btn-rounded btn-primary font-weight-semibold"
                   href="#start"
                   data-hash
                   data-hash-offset="65"
                   data-x="center"
                   data-y="center"
                   data-voffset="['150','150','150','100']"
                   data-start="2100"
                   data-whitespace="nowrap"
                   data-fontsize="['13','13','13','13']"
                   data-paddingtop="['13','13','13','13']"
                   data-paddingbottom="['13','13','13','13']"
                   data-paddingleft="['65','65','65','75']"
                   data-paddingright="['65','65','65','75']"
                   data-transform_in="y:[100%];s:500;"
                   data-transform_out="y:[100%];s:500;"
                   data-mask_in="x:0px;y:0px;">XEM GIỚI THIỆU</a>
            </li>
            <li data-transition="fade">
                <img src="~/Content/Frontend/img/slides/transparent.png"
                     alt=""
                     class="rev-slidebg bg-dark-5" />

                <div class="tp-caption"
                     data-x="left"
                     data-hoffset="['0','0','0','-60']"
                     data-y="center"
                     data-start="1000"
                     data-width="50vw"
                     data-height="550"
                     data-basealign="slide"
                     data-transform_in="opacity:0;s:500;"
                     data-transform_out="opacity:0;s:500;"
                     data-plugin-image-background
                     data-plugin-options="{'imageUrl': '/Content/Frontend/img/slides/banner/slide2.jpg'}"></div>

                <div class="tp-caption text-color-light font-primary font-weight-thin"
                     data-x="right"
                     data-hoffset="30"
                     data-y="center"
                     data-voffset="['-95','-95','-80','-80']"
                     data-start="1800"
                     data-fontsize="['22','22','18','18']"
                     data-transform_in="opacity:0;s:300;"
                     data-transform_out="opacity:0;s:300;"
                     data-transform_idle="opacity:0.5">
                    CHÚNG TÔI ĐẢM BẢO SỰ
                </div>

                <div class="tp-caption text-color-light font-primary font-weight-bold letter-spacing-5"
                     data-x="right"
                     data-hoffset="23"
                     data-y="center"
                     data-voffset="['-35','-35','-35','-35']"
                     data-start="1000"
                     data-fontsize="['50','50','50','50']"
                     data-lineheight="['90','80','60','60']"
                     data-transform_in="y:[-100%];s:500;"
                     data-transform_out="y:[-100%];s:500;"
                     data-mask_in="x:0px;y:0px;">
                    CHUYÊN NGHIỆP
                </div>

                <div class="tp-caption text-color-light font-secondary font-weight-light letter-spacing-n1"
                     data-x="right"
                     data-hoffset="30"
                     data-y="center"
                     data-voffset="['35','35','10','10']"
                     data-start="1300"
                     data-fontsize="['30','30','24','24']"
                     data-lineheight="['40','40','27','27']"
                     data-transform_in="x:[100%];s:500;"
                     data-transform_out="y:[-100%];s:500;"
                     data-mask_in="x:0px;y:0px;">
                    Trong quy trình sản xuất
                </div>

                <a class="tp-caption btn btn-outline btn-rounded btn-primary btn-icon-effect-1 font-weight-semibold text-color-light"
                   href="#"
                   data-x="right"
                   data-hoffset="30"
                   data-y="center"
                   data-voffset="['100','100','70','70']"
                   data-start="1600"
                   data-fontsize="['13','13','13','13']"
                   data-paddingtop="['13','13','13','13']"
                   data-paddingbottom="['13','13','13','13']"
                   data-paddingleft="['65','65','65','65']"
                   data-paddingright="['65','65','65','65']"
                   data-transform_in="x:[100%];s:500;"
                   data-transform_out="y:[-100%];s:500;"
                   data-mask_in="x:0px;y:0px;">
                    <span class="wrap">
                        <span>XEM TIÊU CHUẨN CHẤT LƯỢNG</span>
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Choose Us -->
<section class="appear-animation"
         data-appear-animation="fadeIn"
         data-appear-animation-duration="1s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="card bg-primary-2 border-0 h-100 py-5">
                    <div class="card-body p-5 appear-animation"
                         data-appear-animation="fadeInRightShorter">
                        <span class="top-sub-title text-color-light opacity-5">CƠ SỞ HẠ TẦNG</span>
                        <h2 class="font-weight-bold text-color-light text-5 mb-3">
                            HIỆN ĐẠI
                        </h2>
                        <p class="text-color-light opacity-7 mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus blandit massa enim. Nullam id varius nunc. Lorem
                            ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="image-frame min-height-300 h-100"
                     data-plugin-image-background
                     data-plugin-options="{'imageUrl': '/Content/Frontend/img/about/co-so-ha-tang-1.jpg'}"></div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="image-frame min-height-300 h-100"
                     data-plugin-image-background
                     data-plugin-options="{'imageUrl': '/Content/Frontend/img/about/co-so-ha-tang-2.jpg'}"></div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="card bg-primary border-0 h-100 py-5">
                    <div class="card-body p-5 appear-animation"
                         data-appear-animation="fadeInLeftShorter">
                        <span class="top-sub-title text-color-light opacity-5">ĐỘI NGŨ NHÂN SỰ</span>
                        <h2 class="font-weight-bold text-color-light text-5 mb-3">
                            TAY NGHỀ CAO
                        </h2>
                        <p class="text-color-light opacity-7 mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus blandit massa enim. Nullam id varius nunc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="image-frame min-height-300 h-100"
                     data-plugin-image-background
                     data-plugin-options="{'imageUrl': '/Content/Frontend/img/about/co-so-ha-tang-4.jpg'}"></div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="image-frame min-height-300 h-100"
                     data-plugin-image-background
                     data-plugin-options="{'imageUrl': '/Content/Frontend/img/about/co-so-ha-tang-3.jpg'}"></div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="card bg-primary-2 border-0 opacity-9 h-100 py-5">
                    <div class="card-body p-5 appear-animation"
                         data-appear-animation="fadeInUpShorter">
                        <span class="top-sub-title text-color-light opacity-5">SẢN PHẨM</span>
                        <h2 class="font-weight-bold text-color-light text-5 mb-3">
                            ĐA DẠNG & CHẤT LƯỢNG
                        </h2>
                        <p class="text-color-light opacity-7 mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus blandit massa enim. Nullam id varius nunc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                <div class="image-frame min-height-300 h-100"
                     data-plugin-image-background
                     data-plugin-options="{'imageUrl': '/Content/Frontend/img/about/co-so-ha-tang-5.jpg'}"></div>
            </div>
        </div>
    </div>
</section>

<!-- About Us -->
<section class="section" style="padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="appear-animation"
                     data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="100">
                    <span class="top-sub-title text-color-primary">
                        GIỚI THIỆU VỀ
                    </span>

                    <h2 class="word-rotator letters type font-weight-bold text-5 mb-3">
                        <span>NAM THUẬN GROUP</span>
                        <!-- <span class="word-rotator-words waiting">
                          <b class="is-visible">think.</b>
                          <b>believe.</b>
                          <b>dreamed.</b>
                        </span> -->
                    </h2>
                </div>
                <p class="lead mb-3 appear-animation"
                   data-appear-animation="fadeInUpShorter"
                   data-appear-animation-delay="300">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus blandit massa enim. Nullam id varius nunc.
                </p>

                <p class="mb-3 appear-animation"
                   data-appear-animation="fadeInUpShorter"
                   data-appear-animation-delay="500">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus blandit massa enim. Nullam id varius nunc. Vivamus
                    bibendum magna ex, et faucibus lacus venenatis eget.
                    Suspendisse potenti. Curabitur euismod facilisis neque, eu
                    malesuada diam finibus non. Nullam nec vehicula leo. Morbi
                    porta ante eu feugiat mollis.
                </p>

                <div class="d-block d-sm-inline-block text-center appear-animation"
                     data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="700">
                    <a href="#"
                       class="btn btn-outline btn-rounded btn-primary btn-v-3 btn-h-4 font-weight-bold mt-3 text-0">
                        XEM THÊM
                    </a>
                    <span class="d-block mt-3">
                        hoặc
                        <a class="text-underline ml-2 text-0" href="#">
                            LIÊN HỆ VỚI CHÚNG TÔI
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-10 col-md-5 mx-auto ml-md-auto appear-animation"
                 data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="500">
                <div class="particles d-flex align-items-center pr-0 pr-lg-3 pr-xl-5">
                    <svg class="svg-particles d-none d-sm-block"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 493.72 405.79">
                        <g class="g-particles g-particles-group-1 appear-animation"
                           data-appear-animation="expandParticles"
                           data-appear-animation-delay="500">
                            <line class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  x1="150.28"
                                  y1="108.35"
                                  x2="159.03"
                                  y2="102.1" />
                            <line class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  x1="325.51"
                                  y1="118.98"
                                  x2="334.26"
                                  y2="112.73" />
                            <line class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  x1="483.33"
                                  y1="94.52"
                                  x2="492.08"
                                  y2="88.27" />
                            <line class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  x1="321.14"
                                  y1="279.22"
                                  x2="329.89"
                                  y2="272.97" />
                            <line class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  x1="148.47"
                                  y1="279.22"
                                  x2="157.22"
                                  y2="272.97" />
                            <line class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  x1="11.14"
                                  y1="305.17"
                                  x2="19.89"
                                  y2="298.92" />
                        </g>
                        <g class="g-particles g-particles-group-2 appear-animation"
                           data-appear-animation="expandParticles"
                           data-appear-animation-delay="800">
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M51.78,105.64s-.37-12.75,5.25-3.5.38,7.13,0,7.13"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M229.34,103.24s-.37-12.75,5.25-3.5.38,7.12,0,7.12"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M401,103.24s-.37-12.75,5.25-3.5.38,7.12,0,7.12"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M401,274.1s-.37-12.75,5.25-3.5.38,7.13,0,7.13"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M227.33,276.14s-.37-12.75,5.25-3.5.38,7.13,0,7.13"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M55.49,276.14s-.37-12.75,5.25-3.5.38,7.13,0,7.13"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M97.76,41.59s-2.5,4.83,2.83,2.33.67,2.67.67,2.67"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M448.14,22.85s-2.5,4.83,2.83,2.33.67,2.67.67,2.67"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-1"
                                  fill="none"
                                  stroke="#969da0"
                                  stroke-miterlimit="10"
                                  d="M246,44.18s.1,5.85,4.41-.28,2.26,1.66,2.26,1.66"
                                  transform="translate(-3.14 -1.85)" />
                        </g>
                        <g class="g-particles g-particles-group-3 appear-animation"
                           data-appear-animation="expandParticles"
                           data-appear-animation-delay="1100">
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="4.77"
                                    cy="151"
                                    r="1.14"
                                    transform="translate(-108.51 45.76) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="149.72"
                                    cy="30.16"
                                    r="1.14"
                                    transform="translate(19.39 112.85) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="304.7"
                                    cy="3.48"
                                    r="1.14"
                                    transform="translate(83.64 214.63) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="495.22"
                                    cy="155.04"
                                    r="1.14"
                                    transform="translate(32.28 393.74) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="315.2"
                                    cy="163.8"
                                    r="1.14"
                                    transform="translate(-26.64 269.01) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="153.42"
                                    cy="344.7"
                                    r="1.14"
                                    transform="translate(-201.94 207.59) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="249.61"
                                    cy="406"
                                    r="1.14"
                                    transform="translate(-217.11 293.57) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="313.32"
                                    cy="336.94"
                                    r="1.14"
                                    transform="translate(-149.62 318.39) rotate(-45)" />
                            <circle class="cls-2"
                                    fill="#969da0"
                                    stroke="#969da0"
                                    cx="148.58"
                                    cy="172.2"
                                    r="1.14"
                                    transform="translate(-81.38 153.65) rotate(-45)" />
                        </g>
                        <g class="g-particles g-particles-group-4 appear-animation"
                           data-appear-animation="expandParticles"
                           data-appear-animation-delay="1400">
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="200.87 18.34 197.2 18.34 199.03 21" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="179.66 368.64 180.47 364.7 176.12 365.86" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="369.87 368.64 370.67 364.7 366.31 365.86" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="369.31 5.73 371.83 1.9 367.27 1.65" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="217.7 153.19 210.32 153.19 214.01 158.56" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="385.03 153.19 377.66 153.19 381.34 158.56" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="385.03 324.15 377.66 324.15 381.34 329.52" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="213.01 324.15 205.64 324.15 209.32 329.52" />
                            <polyline class="cls-3"
                                      fill="none"
                                      stroke="#969da0"
                                      points="52.35 324.15 44.98 324.15 48.66 329.52" />
                        </g>
                        <g class="g-particles g-particles-group-5 appear-animation"
                           data-appear-animation="expandParticles"
                           data-appear-animation-delay="1700">
                            <path class="cls-4"
                                  fill="none"
                                  stroke="#969da0"
                                  d="M264.48,188.12s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-4"
                                  fill="none"
                                  stroke="#969da0"
                                  d="M444.52,179.07s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-4"
                                  fill="none"
                                  stroke="#969da0"
                                  d="M94.23,196.91s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-4"
                                  fill="none"
                                  stroke="#969da0"
                                  d="M92.81,369.86s-2.63,6.55,2.19,4.57,3.73-.37,3.73-.37-.88,2.72-1.43,2.6"
                                  transform="translate(-3.14 -1.85)" />
                            <path class="cls-4"
                                  fill="none"
                                  stroke="#969da0"
                                  d="M269.94,368.71c.06-.09,3.2,5.44,4.68,2,2-4.8,2.54-2.76,2.54-2.76s1.15,2.61.66,2.89"
                                  transform="translate(-3.14 -1.85)" />
                        </g>
                        <g class="g-particles g-particles-group-6 appear-animation"
                           data-appear-animation="expandParticles"
                           data-appear-animation-delay="2000">
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="8.58 76.55 13.71 78.42 12.58 72.8" />
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="8.58 228.65 13.71 230.53 12.58 224.9" />
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="178.55 238.99 183.68 240.86 182.55 235.24" />
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="349.47 240.53 354.59 242.4 353.47 236.78" />
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="338.72 402.28 343.84 404.15 342.72 398.53" />
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="147.72 399.46 152.84 401.34 151.72 395.71" />
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="482.39 209.27 485.95 213.4 487.71 207.94" />
                            <polyline class="cls-5"
                                      fill="#969da0"
                                      stroke="#969da0"
                                      points="349.58 66.58 354.83 68.06 353.29 62.54" />
                        </g>
                    </svg>
                    <div class="particles-rect bg-primary d-none d-md-block"
                         data-plugin-float-element
                         data-plugin-options="{'startPos': 'top', 'speed': 4, 'transition': true}"></div>
                    <img src="~/Content/Frontend/img/about/hdqt.jpg"
                         class="img-fluid"
                         alt=""
                         data-plugin-float-element
                         data-plugin-options="{'startPos': 'top', 'speed': 4, 'horizontal': true, 'transition': true}" />
                </div>
            </div>
        </div>
    </div>

    <!-- Counter -->
    <div class="counters container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="counter text-dark appear-animation"
                     data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="100">
                    <i class="fas fa-user"></i>
                    <strong data-to="25000" data-append="+">0</strong>
                    <label class="font-weight-light">Nhân viên</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="counter text-dark appear-animation"
                     data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="300">
                    <i class="fas fa-building"></i>
                    <strong data-to="16">0</strong>
                    <label class="font-weight-light">Năm kinh nghiệm</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="counter text-dark appear-animation"
                     data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="500">
                    <i class="fas fa-industry"></i>
                    <strong data-to="15">0</strong>
                    <label class="font-weight-light">Cơ sở sản xuất</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="counter text-dark appear-animation"
                     data-appear-animation="fadeInLeftShorter"
                     data-appear-animation-delay="700">
                    <i class="fas fa-users"></i>
                    <strong data-to="150" data-append="+">0</strong>
                    <label class="font-weight-light">Khách hàng</label>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Categories Product -->
<section class="section bg-primary appear-animation"
         data-appear-animation="fadeIn">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col">
                <div class="overflow-hidden">
                    <span class="d-block top-sub-title text-color-light appear-animation"
                          data-appear-animation="maskUp"
                          data-appear-animation-delay="200">
                        DANH MỤC
                    </span>
                </div>
                <div class="overflow-hidden mb-2">
                    <h2 class="text-color-light font-weight-bold mb-0 appear-animation"
                        data-appear-animation="maskUp"
                        data-appear-animation-delay="400">
                        LOẠI SẢN PHẨM
                    </h2>
                </div>
            </div>
        </div>
        <div class="row appear-animation"
             data-appear-animation="fadeInUpShorter"
             data-appear-animation-delay="600">
            <div class="col">
                <div class="owl-carousel owl-theme carousel-items-border-divider nav-style-3 nav-color-light"
                     data-plugin-options="{'loop': true, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'autoplayHoverPause': true, 'autoHeight': true}">
                    <div class="px-3">
                        <a href="#">
                            <div class="icon-box-animation-1 icon-box-animation-1-light">
                                <div class="icon-box icon-box-style-5 p-4">
                                    <div class="icon-box-icon mb-3">
                                        <img width="70"
                                             src="~/Content/Frontend/img/icons/yarns.png"
                                             alt="" />
                                    </div>
                                    <div class="icon-box-info">
                                        <div class="icon-box-info-title">
                                            <h4 class="text-color-light mb-0">SỢI</h4>
                                        </div>
                                        <!-- <p class="text-color-light font-primary">
                                          55 PRODUCTS
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="px-3">
                        <a href="#">
                            <div class="icon-box-animation-1 icon-box-animation-1-light">
                                <div class="icon-box icon-box-style-5 p-4">
                                    <div class="icon-box-icon mb-3">
                                        <img width="70"
                                             src="~/Content/Frontend/img/icons/clothes.png"
                                             alt="" />
                                    </div>
                                    <div class="icon-box-info">
                                        <div class="icon-box-info-title">
                                            <h4 class="text-color-light mb-0">QUẦN ÁO</h4>
                                        </div>
                                        <!-- <p class="text-color-light font-primary">
                                          155 PRODUCTS
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="px-3">
                        <a href="#">
                            <div class="icon-box-animation-1 icon-box-animation-1-light">
                                <div class="icon-box icon-box-style-5 p-4">
                                    <div class="icon-box-icon mb-3">
                                        <img width="70"
                                             src="~/Content/Frontend/img/icons/fabric.png"
                                             alt="" />
                                    </div>
                                    <div class="icon-box-info">
                                        <div class="icon-box-info-title">
                                            <h4 class="text-color-light mb-0">VẢI DỆT KIM</h4>
                                        </div>
                                        <!-- <p class="text-color-light font-primary">
                                          15 PRODUCTS
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="px-3">
                        <a href="#">
                            <div class="icon-box-animation-1 icon-box-animation-1-light">
                                <div class="icon-box icon-box-style-5 p-4">
                                    <div class="icon-box-icon mb-3">
                                        <img width="70"
                                             src="~/Content/Frontend/img/icons/fashion.png"
                                             alt="" />
                                    </div>
                                    <div class="icon-box-info">
                                        <div class="icon-box-info-title">
                                            <h4 class="text-color-light mb-0">GIÀY DÉP</h4>
                                        </div>
                                        <!-- <p class="text-color-light font-primary">
                                          25 PRODUCTS
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="px-3">
                        <a href="#">
                            <div class="icon-box-animation-1 icon-box-animation-1-light">
                                <div class="icon-box icon-box-style-5 p-4">
                                    <div class="icon-box-icon mb-3">
                                        <img width="70"
                                             src="~/Content/Frontend/img/icons/scarf.png"
                                             alt="" />
                                    </div>
                                    <div class="icon-box-info">
                                        <div class="icon-box-info-title">
                                            <h4 class="text-color-light mb-0">KHĂN</h4>
                                        </div>
                                        <!-- <p class="text-color-light font-primary">
                                          51 PRODUCTS
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feature Product -->
<section class="section pt-5 pb-0">
    <div class="container">
        <div class="row align-items-end mb-5">
            <div class="col-md-5 mb-4 mb-md-0">
                <div class="overflow-hidden mb-2">
                    <h2 class="font-weight-bold mb-0 appear-animation"
                        data-appear-animation="maskUp">
                        SẢN PHẨM NỔI BẬT
                    </h2>
                </div>
                <!-- <div class="overflow-hidden">
                  <p
                    class="text-color-light-3 mb-0 appear-animation"
                    data-appear-animation="maskUp"
                    data-appear-animation-delay="200"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div> -->
            </div>
            <div class="col-md-7 appear-animation"
                 data-appear-animation="fadeInRightShorter"
                 data-appear-animation-delay="400">
                <ul class="nav sort-source custom-nav-style-1 justify-content-center justify-content-md-end"
                    data-sort-id="portfolio"
                    data-option-key="filter"
                    data-plugin-options="{'layoutMode': 'masonry', 'filter': '*'}">
                    <li class="nav-item" data-option-value="*">
                        <a class="nav-link active pl-3" href="#">SHOW ALL</a>
                    </li>
                    <li class="nav-item" data-option-value=".building">
                        <a class="nav-link" href="#">BUILDING</a>
                    </li>
                    <li class="nav-item" data-option-value=".consulting">
                        <a class="nav-link" href="#">CONSULTING</a>
                    </li>
                    <li class="nav-item" data-option-value=".interior">
                        <a class="nav-link" href="#">INTERIOR</a>
                    </li>
                    <li class="nav-item" data-option-value=".office">
                        <a class="nav-link" href="#">OFFICE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div class="sort-destination-loader sort-destination-loader-showing">
                    <div class="portfolio-list sort-destination"
                         data-sort-id="portfolio">
                        <div class="col-sm-4 col-md-4 col-lg-1-5 p-0 isotope-item building">
                            <div class="portfolio-item appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="600">
                                <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                    <div class="image-frame-wrapper">
                                        <img src="~/Content/Frontend/img/demos/construction/projects/project-2.jpg"
                                             class="img-fluid"
                                             alt="" />
                                        <div class="image-frame-info flex-column align-items-center">
                                            <h3 class="text-color-light font-weight-bold text-4 mb-0">
                                                Okler Headquarter
                                            </h3>
                                            <div class="category text-color-light mb-4">
                                                Building
                                            </div>
                                            <a href="portfolio-detail-1.html"
                                               class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-1-5 p-0 isotope-item consulting">
                            <div class="portfolio-item appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="800">
                                <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                    <div class="image-frame-wrapper">
                                        <img src="~/Content/Frontend/img/demos/construction/projects/project-3.jpg"
                                             class="img-fluid"
                                             alt="" />
                                        <div class="image-frame-info flex-column align-items-center">
                                            <h3 class="text-color-light font-weight-bold text-4 mb-0">
                                                Modern House
                                            </h3>
                                            <div class="category text-color-light mb-4">
                                                Building
                                            </div>
                                            <a href="portfolio-detail-1.html"
                                               class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-1-5 p-0 isotope-item consulting">
                            <div class="portfolio-item appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="1000">
                                <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                    <div class="image-frame-wrapper">
                                        <img src="~/Content/Frontend/img/demos/construction/projects/project-4.jpg"
                                             class="img-fluid"
                                             alt="" />
                                        <div class="image-frame-info flex-column align-items-center">
                                            <h3 class="text-color-light font-weight-bold text-4 mb-0">
                                                Building Consulting
                                            </h3>
                                            <div class="category text-color-light mb-4">
                                                Consulting
                                            </div>
                                            <a href="portfolio-detail-1.html"
                                               class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2-5 p-0 isotope-item interior">
                            <div class="portfolio-item appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="1200">
                                <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                    <div class="image-frame-wrapper">
                                        <img src="~/Content/Frontend/img/demos/construction/projects/project-1.jpg"
                                             class="img-fluid"
                                             alt="" />
                                        <div class="image-frame-info flex-column align-items-center">
                                            <h3 class="text-color-light font-weight-bold text-4 mb-0">
                                                Decoration
                                            </h3>
                                            <div class="category text-color-light mb-4">
                                                Interior
                                            </div>
                                            <a href="portfolio-detail-1.html"
                                               class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-1-5 p-0 isotope-item interior">
                            <div class="portfolio-item appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="200">
                                <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                    <div class="image-frame-wrapper">
                                        <img src="~/Content/Frontend/img/demos/construction/projects/project-5.jpg"
                                             class="img-fluid"
                                             alt="" />
                                        <div class="image-frame-info flex-column align-items-center">
                                            <h3 class="text-color-light font-weight-bold text-4 mb-0">
                                                House Decor
                                            </h3>
                                            <div class="category text-color-light mb-4">
                                                Interior
                                            </div>
                                            <a href="portfolio-detail-1.html"
                                               class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-1-5 p-0 isotope-item construction">
                            <div class="portfolio-item appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="400">
                                <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                    <div class="image-frame-wrapper">
                                        <img src="~/Content/Frontend/img/demos/construction/projects/project-6.jpg"
                                             class="img-fluid"
                                             alt="" />
                                        <div class="image-frame-info flex-column align-items-center">
                                            <h3 class="text-color-light font-weight-bold text-4 mb-0">
                                                Structure Building
                                            </h3>
                                            <div class="category text-color-light mb-4">
                                                Building
                                            </div>
                                            <a href="portfolio-detail-1.html"
                                               class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-1-5 p-0 isotope-item office">
                            <div class="portfolio-item appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="600">
                                <div class="image-frame image-frame-style-1 image-frame-effect-1">
                                    <div class="image-frame-wrapper">
                                        <img src="~/Content/Frontend/img/demos/construction/projects/project-7.jpg"
                                             class="img-fluid"
                                             alt="" />
                                        <div class="image-frame-info flex-column align-items-center">
                                            <h3 class="text-color-light font-weight-bold text-4 mb-0">
                                                Office Building
                                            </h3>
                                            <div class="category text-color-light mb-4">
                                                Office
                                            </div>
                                            <a href="portfolio-detail-1.html"
                                               class="btn btn-primary btn-rounded btn-v-2 btn-h-2 text-color-light font-weight-semibold">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Customer -->
<div class="section bg-light-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <div class="overflow-hidden mb-2">
                    <h2 class="font-weight-bold mb-0 appear-animation"
                        data-appear-animation="maskUp"
                        data-appear-animation-delay="200">
                        ĐỐI TÁC CỦA CHÚNG TÔI
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-12 appear-animation"
                 data-appear-animation="fadeInUpShorter">
                <div class="owl-carousel carousel-center-active-items carousel-center-active-items-style-6 bottom-degrade pb-0 mb-5"
                     data-plugin-carousel
                     data-plugin-options="{'autoplay': true, 'autoplaySpeed': 2000, 'autoplayHoverPause': true, 'dragEndSpeed': 1000, 'dots': false, 'nav': false, 'loop': true, 'margin': 40, 'responsive': { '0': {'items': 3, 'margin': 20}, '576': {'items': 3}, '768': {'items': 3}, '992': {'items': 5}, '1200': {'items': 5}}}">
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/fabletics-960x638.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/kuhl-960x566.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/mountain-960x638.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/lululemon-960x404.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/asics-855x300.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/fabletics-960x638.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/ov-902x567.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/spyder-960x367.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/nike-960x465.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/alo-720x553.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/gymshark-960x501.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/mountain-960x638.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/kuhl-960x566.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/vaude-960x638.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/asics-855x300.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/lululemon-960x404.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/nike-960x465.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/alo-720x553.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/gymshark-960x501.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/asics-855x300.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/fabletics-960x638.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/mountain-960x638.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                    <div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/aritzia-960x500.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/ov-902x567.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                        <div class="image-frame pb-2 mb-2 mb-sm-4">
                            <img src="~/Content/Frontend/img/logo/nike-960x465.jpg"
                                 class="img-fluid rounded"
                                 alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<section class="section bg-light-5 py-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 appear-animation"
                 data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="200">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.733767915368!2d106.64876371540123!3d20.923028196754192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7bf35dbbc2f5%3A0xece59efad93dba64!2zQ8O0bmcgVHkgVE5ISCBOYW0gVGh14bqtbg!5e0!3m2!1svi!2s!4v1593681382495!5m2!1svi!2s"
                        width="555"
                        height="555"
                        frameborder="0"
                        style="border: 0;"
                        allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0"></iframe>
            </div>
            <div class="col-lg-6 py-5 appear-animation"
                 data-appear-animation="fadeInRightShorter"
                 data-appear-animation-delay="600">
                <div class="p-4">
                    <div class="row">
                        <div class="col">
                            <span class="top-sub-title text-color-primary">
                                LIÊN HỆ NHANH
                            </span>
                            <h2 class="text-color-dark font-weight-bold mb-4">
                                Hãy liên hệ với chúng tôi
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form class="contact-form" action="#" method="POST">
                                <div class="contact-form-success alert alert-success d-none">
                                    <strong>Success!</strong> Your message has been sent
                                    to us.
                                </div>
                                <div class="contact-form-error alert alert-danger d-none">
                                    <strong>Error!</strong> There was an error sending
                                    your message.
                                    <span class="mail-error-message d-block"></span>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text"
                                               value=""
                                               data-msg-required="Please enter your name."
                                               maxlength="100"
                                               class="form-control"
                                               name="name"
                                               id="name"
                                               placeholder="Name"
                                               required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email"
                                               value=""
                                               data-msg-required="Please enter your email address."
                                               data-msg-email="Please enter a valid email address."
                                               maxlength="100"
                                               class="form-control"
                                               name="email"
                                               id="email"
                                               placeholder="E-mail"
                                               required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text"
                                               value=""
                                               data-msg-required="Please enter your phone number."
                                               maxlength="100"
                                               class="form-control"
                                               name="phonenumber"
                                               id="phonenumber"
                                               placeholder="Phone number"
                                               required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text"
                                               value=""
                                               data-msg-required="Please enter your company name."
                                               maxlength="100"
                                               class="form-control"
                                               name="company"
                                               id="company"
                                               placeholder="Company name"
                                               required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <textarea maxlength="5000"
                                                  data-msg-required="Please enter your message."
                                                  rows="5"
                                                  class="form-control"
                                                  name="message"
                                                  id="message"
                                                  placeholder="Message"
                                                  required></textarea>
                                    </div>
                                </div>
                                <!-- <div class="form-row mt-2">
                                  <div class="form-group col">
                                    <div
                                      class="g-recaptcha"
                                      data-sitekey="6Lc7ZqwZAAAAAH0I08Ewe0beEJ2KMSojzYQZpSb8"
                                    ></div>
                                  </div>
                                </div> -->
                                <div class="form-row mt-2">
                                    <div class="form-group col">
                                        <input type="submit"
                                               value="SEND"
                                               class="btn btn-primary btn-rounded btn-4 font-weight-semibold text-0"
                                               data-loading-text="Loading..." />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>