<form ng-submit="$ctrl.onSave($event)" dx-validation-group="{validation}">
  <div class="block">
    <!-- HEARDER -->
    <div class="block-header block-header-default">
      <h3 class="block-title font-weight-bold">{{ $ctrl.header }}</h3>
      <div class="block-options">
        <div dx-button="$ctrl.controls.btnSave"></div>
        <button
          type="button"
          class="btn-block-option"
          data-toggle="block-option"
          data-action="fullscreen_toggle"
          title="Phóng to / Thu nhỏ"
        >
          <i class="si si-size-fullscreen"></i>
        </button>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="block-content pt-20">
      <div class="row">
        <!--Main-->
        <div class="col-md-12 mb-20">
          <div class="row">
            <!-- Title -->
            <div class="col-md-7 form-group">
              <label class="col-12">
                Tiêu đề <span style="color: red;">*</span>
              </label>
              <div class="col-md-12">
                <div
                  dx-text-box="$ctrl.controls.tbTitle"
                  dx-validator="$ctrl.validators.title"
                ></div>
              </div>
            </div>
            <!-- Alias -->
            <div class="col-md-5 form-group">
              <label class="col-12">Alias</label>
              <div class="col-md-12">
                <div dx-text-box="$ctrl.controls.tbAlias"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9" style="padding-right: 0px;">
          <div class="row">
            <!-- Description -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Mô tả</label>
              <div class="col-md-12">
                <div dx-text-area="$ctrl.controls.taDescription"></div>
              </div>
            </div>
            <!-- Content -->
            <div class="col-md-12 form-group">
              <label class="col-12">Nội dung</label>
              <div class="col-md-12">
                <ng-ckeditor ng-model="data.Content"></ng-ckeditor>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding-left: 0px;">
          <div class="row">
            <!-- Category -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Danh mục</label>
              <div class="col-md-12">
                <div dx-drop-down-box="$ctrl.controls.ddbCategory">
                  <div data-options="dxTemplate: { name: 'content' }">
                    <div
                      dx-tree-view="$ctrl.controls.ddbCategory.treeView"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Category -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Trạng thái</label>
              <div class="col-md-12">
                <div dx-select-box="$ctrl.controls.slbStatus"></div>
              </div>
            </div>
            <!-- Featured -->
            <div class="col-md-12 form-group mb-30">
              <!-- <label class="col-12">Nổi bật</label> -->
              <div class="col-md-12">
                <div dx-check-box="$ctrl.controls.cbFeatured"></div>
              </div>
            </div>
            <!-- Image -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Hình ảnh</label>
              <div class="col-md-12">
                <div dx-text-box="$ctrl.controls.tbImage"></div>
                <img
                  ng-if="
                    data.Image !== null &&
                    data.Image !== '' &&
                    data.Image != undefined
                  "
                  class="img-fluid"
                  ng-src="{{ data.Image }}"
                  alt="Hình ảnh"
                />
              </div>
            </div>
            <!-- Note -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Ghi chú</label>
              <div class="col-md-12">
                <div dx-text-area="$ctrl.controls.taNote"></div>
              </div>
            </div>
          </div>
        </div>
        <!--Validation Summary-->
        <div class="col-md-12">
          <div
            dx-validation-summary="{validation}"
            style="padding: 20px;"
          ></div>
        </div>

        <!-- SEO -->
        <div class="col-md-12">
          <div class="ro">
            <div class="col-md-9">
              <div class="block">
                <!-- HEARDER -->
                <div class="block-header block-header-default bg-corporate">
                  <h3 class="block-title font-weight-bold text-white">SEO</h3>
                  <div class="block-options">
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="content_toggle"
                      title="Thu gọn / Mở rộng"
                    >
                      <i class="si si-arrow-up text-white"></i>
                    </button>
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="fullscreen_toggle"
                      title="Phóng to / Thu nhỏ"
                    >
                      <i class="si si-size-fullscreen text-white"></i>
                    </button>
                  </div>
                </div>

                <!-- CONTENT -->
                <div class="block-content pt-20">
                  <div class="row">
                    <!--Main-->
                    <div class="col-md-12" style="padding-right: 0px;">
                      <div class="row">
                        <!-- Description -->
                        <div class="col-md-12 form-group mb-30">
                          <label class="col-12">Mô tả</label>
                          <div class="col-md-12">
                            <div
                              dx-text-area="$ctrl.controls.taDescription"
                            ></div>
                          </div>
                        </div>
                        <!-- Content -->
                        <div class="col-md-12 form-group">
                          <label class="col-12">Nội dung</label>
                          <div class="col-md-12">
                            <ng-ckeditor ng-model="data.Content"></ng-ckeditor>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
