<div class="block">
  <!-- HEARDER -->
  <div class="block-header block-header-default bg-corporate">
    <h3 class="block-title font-weight-bold text-white">QUẢN LÝ BÀI VIẾT</h3>
    <div class="block-options">
      <button
        type="button"
        class="btn-block-option"
        data-toggle="block-option"
        data-action="fullscreen_toggle"
        title="Phóng to / Thu nhỏ"
      >
        <i class="si si-size-fullscreen text-white"></i>
      </button>
      <!--<button type="button" class="btn-block-option" data-toggle="block-option" data-action="pinned_toggle" title="Ghim / Bỏ ghim">
                <i class="si si-pin"></i>
            </button>-->
      <!--<button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo" title="Refresh">
                <i class="si si-refresh"></i>
            </button>-->
      <!--<button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle" title="Thu gọn / Mở rộng">
                <i class="si si-arrow-up"></i>
            </button>-->
      <!--<button type="button" class="btn-block-option" data-toggle="block-option" data-action="close" title="Đóng">
                <i class="si si-close"></i>
            </button>-->
    </div>
  </div>

  <!-- CONTENT -->
  <div class="block-content">
    <!-- DATAGRID -->
    <post-datagrid></post-datagrid>
  </div>
</div>
