<!-- PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a style="font-size: 16px; font-weight: bold;">{{page.title}}</a>
        </li>
    </ul>
</div>
<!--Main-->
<div class="row">
    <div id="categoryProject">
        <div class="portlet light bordered">
            <div id="gridContainer" dx-data-grid="gridCategoryProjects" dx-item-alias="item">
                <div data-options="dxTemplate:{ name:'publishedCellTemplate' }">
                    <span class="fa fa-check text-success" ng-if="item.value"></span>
                    <span class="fa fa-close text-danger" ng-if="!item.value"></span>
                </div>
            </div>
            <div dx-context-menu="contextMenuCategoryProject"></div>
        </div>

        <!--Popup Delete-->
        <div class="popup" dx-popup="popupDeleteCategoryProject">
            <div data-options="dxTemplate: { name:'templateDeleteCategoryProject' }">
                <div style="text-align: center" ng-cloak>{{titleDeleteCategoryProject}}</div>
                <br />
                <div dx-button="{ text: 'Có', icon: 'floppy', onClick: ConfirmDelete, type: 'success' }"></div>
                <div dx-button="{ text: 'Không', icon: 'clear', onClick: CancelDelete, type: 'danger' }"></div>
            </div>
        </div>
    </div>
</div>