<section class="page-header parallax page-header-text-light overlay overlay-color-primary overlay-show overlay-op-7 mb-0 appear-animation" data-appear-animation="fadeIn" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="/Content/Frontend/img/product-categories/banner-product-categories.jpg">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-hidden mb-2">
                    <ul class="breadcrumb mb-0 appear-animation" data-appear-animation="maskUp">
                        <li><a href="/" class="text-color-light-2" title="@Html.Raw(Resources.MenuHome)">@Html.Raw(Resources.MenuHome)</a></li>
                        <li class="text-color-light-2 active">@Html.Raw(Resources.ProductCategories)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="overflow-hidden mb-3">
                    <h1 class="font-weight-bold mb-0 appear-animation text-uppercase" data-appear-animation="maskUp" data-appear-animation-delay="200">@Html.Raw(Resources.ProductCategories)</h1>
                </div>
                <p class="text-color-light-2 text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing...</p>
            </div>
        </div>
    </div>
</section>