<section class="page-header parallax page-header-text-light overlay overlay-color-dark overlay-show overlay-op-4 mb-0 appear-animation" data-appear-animation="fadeIn" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'parallaxHeight': '115%'}" data-image-src="/Content/Frontend/img/about/banner-about-us-page-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="overflow-hidden mb-2">
                    <ul class="breadcrumb justify-content-start mb-0 appear-animation" data-appear-animation="maskUp">
                        <li><a href="/" title="@Html.Raw(Resources.MenuHome)">@Html.Raw(Resources.MenuHome)</a></li>
                        <li class="active">@Html.Raw(Resources.MenuAboutUs)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-left mb-3">
            <div class="col-md-8">
                <div class="overflow-hidden mb-2">
                    <h4 class="line-height-4 mb-0 appear-animation text-white" data-appear-animation="maskUp" data-appear-animation-delay="200">
                        @Html.Raw(Resources.DesCSR)
                    </h4>
                </div>
            </div>
        </div>
        <div class="row text-left appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
            <div class="col pb-4 mb-5">
                <ul class="social-icons social-icons-border social-icons-icon-light d-inline-flex">
                    <li class="social-icons-facebook">
                        <a href="https://www.facebook.com/namthuan.vn" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-icons-twitter">
                        <a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                    </li>
                    @*<li class="social-icons-instagram">
                        <a href="https://drive.google.com/file/d/1PxzRfQRF0S9c_3fGE1gwE6csnBk0zQ5z/view?usp=sharing" target="_blank" title="E-Profile"><i class="fas fa-file-alt"></i></a>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</section>
