<footer class="footer_02">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <aside class="widget">
                    <div class="about_widget_2">
                        <a href="#"><img src="~/Content/Frontend/images/logo2.png" alt="" /></a>
                        <div class="footer-info" style="color: #fff;">
                            <div style="padding-bottom: 10px;font-size: 18px;font-weight: 700;">
                                CÔNG TY TNHH THANG MÁY VIỆT PHÁT
                            </div>
                            <div style="padding-bottom: 5px;">
                                <i class="fa fa-phone"></i>&nbsp;&nbsp; <a href="tel:0989 061 233" style="color: #fff">0989 061 233</a>
                            </div>
                            <div style="padding-bottom: 5px;">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp; <a href="mailto:info@vpelevator.vn" style="color: #fff">info@vpelevator.vn</a>
                            </div>
                            <div style="padding-bottom: 15px;">
                                <i class="fa fa-map-marked-alt"></i>&nbsp;&nbsp; Số 114
                                đường 193 Văn Cao, Phường Đằng Lâm, Quận Hải An, Thành phố
                                Hải Phòng, Việt Nam
                            </div>
                        </div>

                        <div class="fo_social">
                            <a href="#"><i class="fab fa-facebook-f"></i> </a><a href="#"><i class="fab fa-twitter"></i> </a><a href="#"><i class="fab fa-behance"></i> </a><a href="#"><i class="fab fa-youtube"></i> </a><a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-xl-4 col-md-6">
                <aside class="widget pdl58">
                    <h3 class="widget_title">Dịch vụ<span>.</span></h3>
                    <ul>
                        <li><a href="/dich-vu/lap-dat-thang-may">Lắp đặt thang máy</a></li>
                        <li><a href="/dich-vu/dich-vu-bao-tri">Dịch vụ bảo trì</a></li>
                        <li><a href="/dich-vu/dich-vu-sua-chua">Dịch vụ sửa chữa</a></li>
                        <li><a href="/dich-vu/dao-tao-lap-trinh">Đào tạo lập trình PLC & Vi điều khiển</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-xl-4 col-md-6">
                <aside class="widget pdl20">
                    <h3 class="widget_title">Sản phẩm<span>.</span></h3>
                    <ul>
                        <li><a href="/san-pham/thang-may-gia-dinh">Thang máy gia đình</a></li>
                        <li><a href="/san-pham/thang-may-gia-dinh">Thang máy lồng kính</a></li>
                        <li><a href="/san-pham/thang-may-gia-dinh">Thang máy tải khách</a></li>
                        <li><a href="/san-pham/thang-may-gia-dinh">Thang máy tải hàng</a></li>
                        <li><a href="/san-pham/thang-may-gia-dinh">Thang máy tải xe hơi</a></li>
                        <li><a href="/san-pham/thang-may-gia-dinh">Linh kiện & Thiết bị</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>
<section class="copyright_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="siteinfo">
                    Design By &COPY;<a href="#">Trần Hoan</a> - 2020
                </div>
            </div>
        </div>
    </div>
</section>