<header class="header_02" id="fix_nav">
    <div class="header-container">
        <div class="row">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2 col-md-12">
                <div class="logo_02">
                    <a href="/"><img src="~/Content/Frontend/images/logo.png" alt="" /></a>
                    <div style="font-size: 14px;font-style: italic;font-weight: 600;">
                        Kéo giãn không gian
                    </div>
                </div>
                <div class="mobileMenuBar">
                    <a href="javascript: void(0);">
                        <span>Menu</span><i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- Menu -->
            <div class="col-xl-8 col-lg-10 col-md-12">
                <nav class="mainmenu text-center">
                    <ul>
                        <li><a href="/">Trang chủ </a></li>
                        <li class=" menu-item-has-children">
                            <a href="/dich-vu">Dịch vụ</a>
                            <ul class="sub_menu">
                                <li><a href="/dich-vu/lap-dat-thang-may">Lắp đặt thang máy</a></li>
                                <li><a href="/dich-vu/dich-vu-bao-tri">Dịch vụ bảo trì</a></li>
                                <li><a href="/dich-vu/dich-vu-sua-chua">Dịch vụ sửa chữa</a></li>
                                <li><a href="/dich-vu/dao-tao-lap-trinh">Đào tạo lập trình PLC & Vi điều khiển</a></li>
                            </ul>
                        </li>
                        <li class=" menu-item-has-children">
                            <a href="/san-pham">Sản phẩm</a>
                            <ul class="sub_menu">
                                <li><a href="/san-pham/thang-may-gia-dinh">Thang máy gia đình</a></li>
                                <li><a href="/san-pham/thang-may-gia-dinh">Thang máy lồng kính</a></li>
                                <li><a href="/san-pham/thang-may-gia-dinh">Thang máy tải khách</a></li>
                                <li><a href="/san-pham/thang-may-gia-dinh">Thang máy tải hàng</a></li>
                                <li><a href="/san-pham/thang-may-gia-dinh">Thang máy tải xe hơi</a></li>
                                <li><a href="/san-pham/thang-may-gia-dinh">Linh kiện & Thiết bị</a></li>
                            </ul>
                        </li>
                        <li><a href="/du-an">Dự án</a></li>
                        <li><a href="#">Cẩm nang</a></li>
                        <li><a href="/tuyen-dung">Tuyển dụng</a></li>
                        <li><a href="/lien-he">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Call Now -->
            <div class="col-lg-2 text-right col-md-12 hidden-sm hidden-xs">
                <div class="caller">
                    <i class="fad fa-headphones" style="--fa-primary-color: #ff8a54; --fa-secondary-color: #ff8a54; --fa-secondary-opacity: 0.8"></i>
                    <span>Hãy gọi chúng tôi</span>
                    <h3><a href="tel:0989 061 233" style="color: #fff;">0989 061 233</a></h3>
                </div>
            </div>
        </div>
    </div>
</header>