<section class="commonSection graySection2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h6 class="sub_title gray_sub_title">Sản phẩm</h6>
                <h2 class="sec_title with_bar">
                    <span>THANG MÁY CHÍNH HÃNG</span>
                </h2>
                <span class="line"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="singleService">
                    <div class="serviceThumb">
                        <img src="~/Content/Frontend/images/product/thang-may-gia-dinh.jpg" alt="" />
                        <a href="/san-pham/thang-may-gia-dinh"><span>Xem thêm</span></a>
                    </div>
                    <div class="serviceDetails">
                        <h2><a href="/san-pham/thang-may-gia-dinh">Thang máy gia đình</a></h2>
                        <p>Chúng tôi cung cấp tầm nhìn tổng quát, giải pháp lắp đặt thang máy cho gia đình, phương án thiết kế và các lựa chọn phù hợp cho ngôi nhà của bạn</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="singleService">
                    <div class="serviceThumb">
                        <img src="~/Content/Frontend/images/product/thang-may-long-kinh.jpg" alt="" />
                        <a href="/san-pham/thang-may-gia-dinh"><span>Xem thêm</span></a>
                    </div>
                    <div class="serviceDetails">
                        <h2><a href="/san-pham/thang-may-gia-dinh">Thang máy lồng kính</a></h2>
                        <p>Thang máy lồng kính ngày càng được sử dụng rộng rãi cho các gia đình, Villa, Biệt thự... do tính thẩm mỹ cao, độ êm ái, đảm bảo mọi yếu tố an toàn</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="singleService">
                    <div class="serviceThumb">
                        <img src="~/Content/Frontend/images/product/thang-may-tai-khach.jpg" alt="" />
                        <a href="/san-pham/thang-may-gia-dinh"><span>Xem thêm</span></a>
                    </div>
                    <div class="serviceDetails">
                        <h2><a href="/san-pham/thang-may-gia-dinh">Thang máy tải khách</a></h2>
                        <p>Thang máy tải khách dòng sản phẩm phục vụ tốt nhất cho việc di chuyển trong các tòa nhà cao tầng, khách sạn, các trung tâm thương mại ...</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="singleService">
                    <div class="serviceThumb">
                        <img src="~/Content/Frontend/images/product/thang-may-tai-hang.jpg" alt="" />
                        <a href="/san-pham/thang-may-gia-dinh"><span>Xem thêm</span></a>
                    </div>
                    <div class="serviceDetails">
                        <h2><a href="/san-pham/thang-may-gia-dinh">Thang máy tải hàng</a></h2>
                        <p>Thang máy tải hàng với khả năng chịu được trọng tải cao, chịu được sự va đập và chuyển tải hàng hóa nặng một cách nhanh chóng, bền bỉ và hiệu quả</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="singleService">
                    <div class="serviceThumb">
                        <img src="~/Content/Frontend/images/product/thang-may-tai-xe-hoi.jpg" alt="" />
                        <a href="/san-pham/thang-may-gia-dinh"><span>Xem thêm</span></a>
                    </div>
                    <div class="serviceDetails">
                        <h2><a href="/san-pham/thang-may-gia-dinh">Thang máy tải xe hơi</a></h2>
                        <p>Thang máy tải xe hơi có chức năng vận chuyển ô tô được thiết kế với kích thước và tải trọng phù hợp dùng cho gia đình, các chung cư, khu để xe ô tô ...</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="singleService">
                    <div class="serviceThumb">
                        <img src="~/Content/Frontend/images/product/linh-kien-thiet-bi.jpg" alt="" />
                        <a href="/san-pham/thang-may-gia-dinh"><span>Xem thêm</span></a>
                    </div>
                    <div class="serviceDetails">
                        <h2><a href="/san-pham/thang-may-gia-dinh">Linh kiện & Thiết bị</a></h2>
                        <p>Thang máy Việt Phát cung cấp đầy đủ, đa dạng các linh kiện và thiết bị thang máy chính hãng với chất lượng và giá cả hợp lý</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
