<section class="featureSection2" style="margin-top: -80px; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon_box_01 text-center box_shadow">
                    <i class="bigger icofont-engineer"></i>
                    <i class="smaller icofont-engineer"></i>
                    <span></span>
                    <a href="/dich-vu/lap-dat-thang-may"><h3>Lắp đặt <br /> thang máy</h3></a>
                    <p>Chúng tôi thực hiện thi công lắp đặt thang máy đạt chất lượng tốt về vận hành, đúng về tiến độ và tận tình chu đáo về dịch vụ</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon_box_01 text-center box_shadow">
                    <i class="bigger icofont-ui-settings"></i>
                    <i class="smaller icofont-ui-settings"></i>
                    <span></span>
                    <a href="/dich-vu/dich-vu-bao-tri"><h3>Dịch vụ <br /> bảo trì</h3></a>
                    <p>Chúng tôi với ngũ nhân viên kỹ thuật bảo hành, bảo trì có năng lực và giàu kinh nghiệm, đáp ứng mọi nhu cầu của khách hàng</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon_box_01 text-center box_shadow">
                    <i class="bigger icofont-repair"></i>
                    <i class="smaller icofont-repair"></i>
                    <span></span>
                    <a href="/dich-vu/dich-vu-sua-chua"><h3>Dịch vụ <br /> sửa chữa</h3></a>
                    <p>Chúng tôi luôn sẵn sàng phục vụ 24/24 mang đến khách hàng dịch vụ chất lượng cao, an toàn và chuyên nghiệp nhất</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="icon_box_01 text-center box_shadow">
                    <i class="bigger icofont-graduate-alt"></i>
                    <i class="smaller icofont-graduate-alt"></i>
                    <span></span>
                    <a href="/dich-vu/dao-tao-lap-trinh"><h3>Đào tạo lập trình <br /> PLC & Vi điều khiển</h3></a>
                    <p>Chúng tôi nhận đào tạo lập trình PLC và Vi điều khiển đảm bảo kiến thức và tay nghề đáp ứng nhu cầu theo nhu cầu của xã hội </p>
                </div>
            </div>
        </div>
    </div>
</section>