<div class="col-lg-4 col-md-6 sidebar_1">
    <aside class="widget">
        <h3 class="widget_title">Dịch vụ</h3>
        <ul>
            <li><a href="/dich-vu/lap-dat-thang-may"><i class="icofont-engineer"></i>Lắp đặt thang máy</a></li>
            <li><a href="/dich-vu/dich-vu-bao-tri"><i class="icofont-ui-settings"></i>Dịch vụ bảo trì</a></li>
            <li><a href="/dich-vu/dich-vu-sua-chua"><i class="icofont-repair"></i>Dịch vụ sửa chữa</a></li>
            <li><a href="/dich-vu/dao-tao-lap-trinh"><i class="icofont-graduate-alt"></i>Đào tạo lập trình PLC & Vi điều khiển</a></li>
        </ul>
    </aside>

    <aside class="widget">
        <h3 class="widget_title">Sản phẩm</h3>
        <ul>
            <li><a href="/san-pham/thang-may-gia-dinh"><i class="fad fa-angle-double-right"></i>Thang máy gia đình</a></li>
            <li><a href="/san-pham/thang-may-gia-dinh"><i class="fad fa-angle-double-right"></i>Thang máy lồng kính</a></li>
            <li><a href="/san-pham/thang-may-gia-dinh"><i class="fad fa-angle-double-right"></i>Thang máy tải khách</a></li>
            <li><a href="/san-pham/thang-may-gia-dinh"><i class="fad fa-angle-double-right"></i>Thang máy tải hàng</a></li>
            <li><a href="/san-pham/thang-may-gia-dinh"><i class="fad fa-angle-double-right"></i>Thang máy tải xe hơi</a></li>
            <li><a href="/san-pham/thang-may-gia-dinh"><i class="fad fa-angle-double-right"></i>Linh kiện & Thiết bị</a></li>
        </ul>
    </aside>

    <aside class="widget havqueswidget">
        <h3 class="widget_title">Bạn đang cần tư vấn?</h3>
        <div class="hqw_content">
            <p>Hãy vui lòng liên hệ với chúng tôi hoặc <a href="lien-he" style="color: #fff" title="Thông tin liên hệ"><b>để lại thông tin</b></a> để được tư vấn ngay.</p>
            <h5><i class="fad fa-phone"></i>&nbsp; Điện thoại: <a href="tel:0989 061 233" style="color: #fff">0989 061 233</a></h5>
            <h5><i class="fad fa-envelope"></i>&nbsp; Email: <a href="mailto:info@vpelevator.vn" style="color: #fff">info@vpelevator.vn</a></h5>
        </div>
    </aside>
</div>
