<form ng-submit="$ctrl.onSave($event)" dx-validation-group="{validation}">
  <div class="block">
    <!-- HEARDER -->
    <div
      class="block-header block-header-default"
      style="
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      "
    >
      <h3 class="block-title font-weight-bold" style="color: #2facb2;">
        THÊM THÀNH PHẦN
      </h3>
      <div class="block-options">
        <!-- Save -->
        <div dx-button="$ctrl.controls.btnSave"></div>
        <!-- Close -->
        <div dx-button="$ctrl.controls.btnClose"></div>
        <!-- Full Screen -->
        <button
          type="button"
          class="btn-block-option"
          data-toggle="block-option"
          data-action="fullscreen_toggle"
          title="Phóng to / Thu nhỏ"
        >
          <i class="si si-size-fullscreen"></i>
        </button>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="block-content pt-20">
      <div class="row">
        <!--Main-->
        <div class="col-md-12 mb-20">
          <div class="row">
            <!-- Tiếng Việt -->
            <div class="col-md-6 pb-20">
              <div class="block">
                <!-- HEARDER -->
                <div
                  class="block-header block-header-default bg-corporate"
                  style="
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                      0 1px 2px rgba(0, 0, 0, 0.24);
                  "
                >
                  <h3 class="block-title font-weight-bold text-white">
                    TIẾNG VIỆT
                  </h3>
                  <div class="block-options">
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="content_toggle"
                      title="Thu gọn / Mở rộng"
                    >
                      <i class="si si-arrow-up text-white"></i>
                    </button>
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="fullscreen_toggle"
                      title="Phóng to / Thu nhỏ"
                    >
                      <i class="si si-size-fullscreen text-white"></i>
                    </button>
                  </div>
                </div>

                <!-- CONTENT -->
                <div class="block-content pt-20">
                  <div class="row">
                    <!--Main-->
                    <div class="col-md-12" style="padding-right: 0px;">
                      <div class="row">
                        <!-- Name -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">
                            Tên thành phần <span style="color: red;">*</span>
                          </label>
                          <div class="col-md-12">
                            <div
                              dx-text-box="$ctrl.controls.tbVNName"
                              dx-validator="$ctrl.validators.name"
                            ></div>
                          </div>
                        </div>
                        <!-- Sub Title -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">Tiêu đề phụ</label>
                          <div class="col-md-12">
                            <div
                              dx-text-box="$ctrl.controls.tbVNSubTitle"
                            ></div>
                          </div>
                        </div>
                        <!-- Link Button -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">Link button</label>
                          <div class="col-md-12">
                            <div dx-text-box="$ctrl.controls.tbVNLink"></div>
                          </div>
                        </div>
                        <!-- Text Button -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">Text button</label>
                          <div class="col-md-12">
                            <div
                              dx-text-box="$ctrl.controls.tbVNTextButton"
                            ></div>
                          </div>
                        </div>
                        <!-- Content -->
                        <div class="col-md-12 form-group mb-30">
                          <label class="col-12">Nội dung</label>
                          <div class="col-md-12">
                            <ng-ckeditor
                              ng-model="data.VN_Content"
                            ></ng-ckeditor>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tiếng Anh -->
            <div class="col-md-6 pb-20">
              <div class="block">
                <!-- HEARDER -->
                <div
                  class="block-header block-header-default bg-corporate"
                  style="
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                      0 1px 2px rgba(0, 0, 0, 0.24);
                  "
                >
                  <h3 class="block-title font-weight-bold text-white">
                    TIẾNG ANH
                  </h3>
                  <div class="block-options">
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="content_toggle"
                      title="Thu gọn / Mở rộng"
                    >
                      <i class="si si-arrow-up text-white"></i>
                    </button>
                    <button
                      type="button"
                      class="btn-block-option"
                      data-toggle="block-option"
                      data-action="fullscreen_toggle"
                      title="Phóng to / Thu nhỏ"
                    >
                      <i class="si si-size-fullscreen text-white"></i>
                    </button>
                  </div>
                </div>

                <!-- CONTENT -->
                <div class="block-content pt-20">
                  <div class="row">
                    <!--Main-->
                    <div class="col-md-12" style="padding-right: 0px;">
                      <div class="row">
                        <!-- Name -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">
                            Tên thành phần <span style="color: red;">*</span>
                          </label>
                          <div class="col-md-12">
                            <div dx-text-box="$ctrl.controls.tbENName"></div>
                          </div>
                        </div>
                        <!-- Sub Title -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">Tiêu đề phụ</label>
                          <div class="col-md-12">
                            <div
                              dx-text-box="$ctrl.controls.tbENSubTitle"
                            ></div>
                          </div>
                        </div>
                        <!-- Link Button -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">Link button</label>
                          <div class="col-md-12">
                            <div dx-text-box="$ctrl.controls.tbENLink"></div>
                          </div>
                        </div>
                        <!-- Text Button -->
                        <div class="col-md-6 form-group mb-30">
                          <label class="col-12">Text button</label>
                          <div class="col-md-12">
                            <div
                              dx-text-box="$ctrl.controls.tbENTextButton"
                            ></div>
                          </div>
                        </div>
                        <!-- Content -->
                        <div class="col-md-12 form-group mb-30">
                          <label class="col-12">Nội dung</label>
                          <div class="col-md-12">
                            <ng-ckeditor
                              ng-model="data.EN_Content"
                            ></ng-ckeditor>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Note -->
            <div class="col-md-12 form-group mb-30">
              <label class="col-12">Ghi chú</label>
              <div class="col-md-12">
                <div dx-text-area="$ctrl.controls.taNote"></div>
              </div>
            </div>
            <!-- Is Single Media -->
            <div class="col-md-3 form-group mb-30">
              <div class="col-md-12">
                <div dx-check-box="$ctrl.controls.cbIsSingleMedia"></div>
              </div>
            </div>
            <!-- Single Media -->
            <div
              ng-if="data.IsSingleMedia === true"
              class="col-md-12 form-group mb-30"
            >
              <label class="col-12">Media</label>
              <div class="col-md-12">
                <div dx-text-box="$ctrl.controls.tbLinkMedia"></div>
                <div
                  style="margin-top: 15px;"
                  ng-if="$ctrl.commonService.isNullOrEmpty(data.LinkMedia)"
                >
                  <a ng-click="$ctrl.chooseMedia()" class="media-image-link">
                    Chọn media
                  </a>
                </div>
                <div ng-if="!$ctrl.commonService.isNullOrEmpty(data.LinkMedia)">
                  <div style="text-align: center;">
                    <img
                      style="cursor: pointer; margin-top: 10px;"
                      ng-click="$ctrl.chooseMedia()"
                      class="img-fluid"
                      ng-src="{{ data.LinkMedia }}"
                      alt="Media"
                      title="Chọn media"
                    />
                  </div>
                  <div style="margin-top: 10px;">
                    <i>Nhấn vào để sửa hoặc cập nhật</i>
                  </div>
                  <div style="margin-top: 10px;">
                    <a ng-click="$ctrl.clearMedia()" class="media-image-link">
                      Xóa media
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Multi Media -->
            <div
              ng-if="data.IsSingleMedia === false"
              class="col-md-12 form-group mb-30"
            >
              <label class="col-12">Media</label>
              <div class="col-md-4">
                <div dx-button="$ctrl.controls.btnAddMedia"></div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div
                    class="col-md-3"
                    ng-repeat="link in data.Links track by $index"
                  >
                    <div ng-if="!$ctrl.commonService.isNullOrEmpty(link)">
                      <div style="text-align: center;">
                        <img
                          style="cursor: pointer; margin-top: 10px;"
                          ng-click="$ctrl.updateMedia($index)"
                          class="img-fluid"
                          ng-src="{{ link }}"
                          alt="Media"
                          title="Chọn media"
                        />
                      </div>
                      <div style="margin-top: 10px;">
                        <i>Nhấn vào để sửa hoặc cập nhật</i>
                      </div>
                      <div style="margin-top: 10px;">
                        <a
                          ng-click="$ctrl.removeMedia($index)"
                          class="media-image-link"
                        >
                          Xóa media
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Validation Summary-->
            <div class="col-md-12">
              <div
                dx-validation-summary="{validation}"
                style="padding: 20px;"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- LoadPanel -->
<div class="loadpanel" dx-load-panel="$ctrl.loadPanel"></div>
