@{
    ViewBag.Title = "Khởi tạo Mật khẩu";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<h3 class="form-title font-green">Khởi tạo Mật khẩu</h3>

<div>
    Vui lòng kiểm tra Email để khởi tạo lại mật khẩu.
</div>

