@{
    ViewBag.Title = "Khởi tạo Mật khẩu";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<h3 class="form-title font-green">Khởi tạo mật khẩu</h3>

<div>
    <p>
        Mật khẩu của bạn đã được Khỏi tạo. <br /> 
        Nhấn @Html.ActionLink("vào đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) để Đăng nhập
    </p>
</div>
